/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-apppresser-chip {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px;
    border-radius: 25px;
}

.wp-block-apppresser-chip img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.wp-block-apppresser-chip .chip-label {
    font-size: 14px;
    padding: 0 6px;
}

.label-uppercase {
    text-transform: uppercase;
}

.label-description {
    margin-bottom: 0px;
    font-size: 12px;
    font-style: normal;
    color: rgb(117, 117, 117);
}

.chip-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    mask-size: cover !important;
}